* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #9fb8ad;
    color: #3F403F;
    box-shadow: unset;
  
    
  }

  html{
    margin: -10px;
    padding: 0;
  }

  
  header {
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    display:inline-block;
    text-align:center;
  
  
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .App {
    height: 100vh;
    display: flex;
    flex-direction: column;
   
  }


  
  footer {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #ced0ce;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    font-size: 10px;
  }

  button{
      margin: 5px;
      border: none;
      box-shadow: none;
  }

  .degree{
    font-weight: bold;
  }

  .weather{
    background-color: #9fb8ad;

    margin: 20px;
    margin-left: 20rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }

  .weather p{
    
    font-family: 'Montserrat', sans-serif;
  }
  .header{
    display:block;
    margin:0px auto;
    padding: 80px;
  }

  .longweather{
    background-color: black;
    width: 350px;
    border-radius: 7px;
  }

  .longweather,
  .longweather p,
  .longweather label{
    background-color: #b5d6c8;
    
  }

  .longweather{
    padding: 6px;
  }



 

  .city{
    text-decoration:underline;
  }

  .logo{
    margin-top: 10px;
  }

  .btn{
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    border-color: #475841;
    color: #9fb8ad;
    background-color:  #3f403f;
    border-style:ridge;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
  }

  .btn:hover{

    
    color: #b8d4c7;
    background-color: #424742;
 


  }

  .small{
    margin-top: 0px;
    padding: 0px;
    font-size: 10px;
    margin-left: 220px;
  }
  .showLongForecast{

    margin-top:  20px;
    margin-left: 0px;
    
  }

  input{
    padding: 4px;
    background-color: #e6e8e6;
    border-radius: 3.5px;
    border-width: 1px;
    border-color: #E6E8E6 ;
    
  }

  .footerText{
    background-color: #ced0ce ;
  }

  img{
    width: 60px;
  }

  svg{
    background-color: #9fb8ad;
  }
